@import 'base/base';
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

/* TODO: clean this up */

h1 {
  color: #FFF;
  font-family:'Work Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 44px;
  font-weight: 600;
  letter-spacing: -2px;
  line-height: 1.35;
  display:  table;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 36px;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 30px;
  }
}

h1 span {
  background-color: yellow;
  display: inline;
  color:#333;
  padding:0 6px;
}

h2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-family: Consolas, Courier, monospace;
  font-size:18px;
  color: #666;
  line-height: 1.5;
}

h3,h4 {
  color:#666;
  font-family:'Work Sans',-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.timeline-item {
padding: 3em 2em 1em;
position: relative;
color: #787878;
border-left: 1px solid #eee;
}


.timeline-item > p {
font-size: 12px;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.timeline-item::before {
content: attr(date-is);
position: absolute;
left: 2em;
top: 1em;
display: block;
font-family: Consolas, Courier, monospace;
font-size: 14px;
}

.timeline-item::after {
width: 15px;
height: 15px;
display: block;
top: 1em;
position: absolute;
left: -8px;
border-radius: 10px;
content: '';
border: 1px solid  #AAA;
background: yellow;
}


hr { margin:0px;}

canvas {
display: block;

}

/* ---- particles.js container ---- */

#particles-js {
position: relative;
width: 100%;
height: 380px;
background-color: #323;
border-bottom:1px solid #999;
background-image: url("../img/bg.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: 50% 50%;
text-align: center;
padding:10px;
}
.header {
  //background-color: #333;
  height: 30px;
  position: fixed;
  width: 100%;
  z-index: 100;
  font-size: 20px;
  color:#FFF;
  div.text {
    margin-top: 16px;
  }
}
div.body {
min-height: 100vh;
}
.hero-wrapper {
background-size: cover;
height: 380px;
margin: 0 -15px;
background-position: 50%;
background-repeat: no-repeat;
transition: border .2s ease-out;
background-attachment: fixed;

}
.hero-text-wrapper {
position: absolute;;
display:block;
/* left:50%; */
margin:0 10px 0 0;
}

.hero-text {
display:block;
position: relative;
/* left:-50%; */
min-width:340px;
padding:0 5%;
}

div.skill {
  margin-bottom: 10px;
  font-size:14px;
  color:#333;
  border:1px solid #aaa;
  border-radius: 2px;
  width: 100%;
}
div.skill-fill {
   background-color:yellow;
   padding:8px;
   border-right:1px solid #aaa;
   font-family: Consolas, Courier, monospace;
   text-align:right;
}
div.skill-fill a.skill-toggle {
   cursor: s-resize;
   &.expanded {
     cursor: n-resize;
   }
}

div.skill-fill .more {
  display:none;
  color:#999;
}

div.skill-fill .more.visible {
  display:block;
}

.card-wrapper .card-inner {
  border: 1px solid #ddd;
  margin-top: 15px;
  padding: 0;
  height: 230px;
  background-color: #fdfdfd;
  border-radius: 2px;
}
.card-wrapper .card-inner .card-img {
  height: 150px;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  transition: border .2s ease-out;
  border-bottom: 1px solid #ddd;

  }
.card-wrapper .card-inner .card-title {
    margin-top: 10px;
    font-size: 14px;
    font-family: Consolas, Courier, monospace;
    padding: 0 10px;
    margin-bottom: auto;
}
.card-wrapper .card-inner .card-description {
  font-size: 12px;
  font-weight: 300;
  color: #787878;
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 45px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.contact-icons a img {
  opacity:0.5;
  padding:12px;
  height: 64px;
  transition: 200ms opacity ease-out;
}

.contact-icons a img:hover {
  opacity:1;

}
.mono {
  font-family: Consolas, Courier, monospace;
}
